<% include ../_header %>

    <% if (!underscore.isEmpty(gifts)) { %>

    <table class="table table-condensed">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Draw date</th>
        <th>Winner</th>
    </tr>
    </thead>
    <tbody>
    <% gifts.forEach(function(gift) { %>
        <tr>
            <td><%= gift.get('name') %></td>
            <td><%= getGiftType(gift.get('type')) %></td>
            <td><%= formatTime(gift.get('drawDate')) %></td>
            <td>
                <% if (gift.get('winner') != null) { %>
                    <%= gift.get('winner').id %>
                <% } else { %>
                    <a class="btn btn-success" href="<%= '/gift/draw/' + gift.id %>">Do draw</a>
                <% } %>
            </td>
            <td>
                <a class="btn btn-info" href="<%= '/gift/edit/' + gift.id %>">Edit</a>
                <a class="btn btn-danger" href="<%= '/gift/delete/' + gift.id %>">Delete</a>
            </td>
        </tr>
    <% }) %>
    </tbody>
    </table>
    <% } else { %>
    <p>No gift yet.</p>
    <% } %>

    <a class="btn btn-success" href="/gift/add">Add gift</a>

<% include ../_footer %>