<% include ../_header %>

<div class="container">

  <a href="/gift/add">Add gift</a>

    <% if (!underscore.isEmpty(gifts)) { %>

    <h2>All Comments</h2>
    <% gifts.forEach(function(gift) { %>

    <div class='comment_item'>
        <div class='comment_body'>
            <%= gift.get('name') %>
        </div>

        <div class='comment_footer'>
            <%= gift.get('type') %>
            <%= formatTime(gift.get('drawDate')) %>
        </div>

        <% if (gift.get('winner') != null) { %>
            <div class='winner'>
                <%= gift.get('winner').id %>
            </div>
        <% } %>

        <div class='comment_actions'>
            <% if (gift.get('winner') == null) { %>
            <a href="<%= '/gift/draw/' + gift.id %>">Do draw</a>
            <% } %>
            <a href="<%= '/gift/edit/' + gift.id %>">Edit</a>
            <a href="<%= '/gift/delete/' + gift.id %>">Delete</a>
        </div>
    </div>

    <% }) %>

    <% } else { %>
    <p>No gift yet.</p>
    <% } %>

</div>

<% include ../_footer %>